<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 확인</title>
</head>
<body>
    <h1>로그인 확인</h1>
    <br />
    <div><p><%= user.id %></p></div>
    <div><p><%= user.password %></p></div>
    <div><p><%= user.name %></p></div>
    <br /><br/>
    <a href="/list">게시판 이동</a>
    <br/>
    <a href="/logout">로그 아웃</a>
</body>
</html>